@{
    ViewBag.Title = "测站展示";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section css{
    <link href="~/lib/webuploader-0.1.5/webuploader.css" rel="stylesheet" />
}
@section Scripts{
    <script type="text/javascript" src="~/lib/webuploader-0.1.5/webuploader.js"></script>

    <script type="text/javascript">
        var uploader = null,
            uploader1 = null,
			BASE_URL = window.location.origin;
        var imgList = [];
		$(function () {
			bindGrid("");
            bindAreaDataGrid();
		});

		function bindAreaDataGrid() {
			$('#areastcd').combogrid({
				panelWidth: 300,
				multiple: false,
				idField: 'CODE',
				textField: 'KEYNAME',
				url: "/RealData/River/GetStaByKeywords/",
				queryParams: { "q": "" },
				columns: [[
					{ field: 'CODE', width: '30%', hidden: false, title: '站点', align: 'center' },
					{ field: 'KEYNAME', width: '35%', title: '站名', align: 'center' },
					{ field: 'TYPE', width: '35%', title: '站类', align: 'center', formatter: changesttp }

                ]]
			});
        }

		function doSearchSta(value, name) {
			var ele = $("#areastcd");
			var grid = ele.combogrid('grid');

            $.getJSON("/RealData/River/GetStaByKeywords/", { "q": value, "sttp":"" }, function (jsondata) {

				grid.datagrid("loadData", jsondata);
			});
		}

		function doSearch() {
			var stnm = $('#stnm').val();
			bindGrid(stnm);
		}
		function bindGrid(stnm) {

			var param = { 'stnm': stnm };

			var option = {
				singleSelect: true,
				collapsible: true,
				striped: true,
				rownumbers: true,
				pagination: true,
				pagePosition: 'bottom',
				pageSize: 20,
				url: '/StationInfo/Show/GetListData',
				queryParams: param,
				columns: [[
					{ field: 'STNM', title: '名称', width: '15%', align: 'center' },
                    { field: 'STCD', title: '站码', width: '15%', align: 'center' },
                    {
                        field: 'Panorama_URL', title: '全景图', width: '20%', align: 'center', formatter: function (val, row, index) {
                            var url = BASE_URL + "/_fileupload/StationShow/PanoramaImg/" + row["STCD"] +"/" + "tour.html";                   
                            return '<a target="_blank" href="' + url + '">预览</a>';
						}
                    },
                    {
                        field: 'Video_URL', title: '宣传片', width: '20%', align: 'center', formatter: function (val) {

                            return '<a target="_blank" href="' + val + '">预览</a>';
                        }
                    },
					{ field: 'operate', title: '操作', width: '30%', align: 'center', formatter: formatOper }
				]],
				onLoadSuccess: function () {

				}
			};

			$('#dgGrid').datagrid(option);
		}
		function formatOper(val, row, index) {
            var ID = row["ID"];
            var look = '<a href="#" onclick="lookData(' + index + ')">查看&nbsp;&nbsp;&nbsp;&nbsp;</a>';
            var edit = '<a href="#" onclick="editData(' + index + ')">修改&nbsp;&nbsp;&nbsp;&nbsp;</a>';
            var del = '<a href="#" onclick="deleteData(' + index + ')">删除</a>';
            return look + " "+ edit + " " + del;
		}

		function addData() {
			$('#dlg').dialog('open').dialog('setTitle', '添加测站展示');
			$('#fm').form('clear');
            url = "/StationInfo/Show/Add";
            initUploader();
            initUploader1();

        }
        function lookData(index) {
            $('#dgGrid').datagrid('selectRow', index);// 关键在这里
            var row = $('#dgGrid').datagrid('getSelected');
            if (row) {
                $("#ID").val(row.ID);
                $('#areastcd').combogrid('setValue', row.STCD);
                $("#Pic_URL").textbox('setValue', row.Pic_URL);
                $("#Video_URL").textbox('setValue', row.Video_URL);

                $('#dlg').dialog('open').dialog('setTitle', '查看测站展示');
                document.getElementById("dlg-buttons").style.visibility = "hidden";//隐藏
                url = '/StationInfo/Show/Edit?ID=' + row.ID;
                bingPicData(row.ID);
            }
            else {
                $.messager.alert('提示', '请先选择行', 'info')
            }

            initUploader();
            initUploader1();
        }
		function editData(index) {
			$('#dgGrid').datagrid('selectRow', index);// 关键在这里
			var row = $('#dgGrid').datagrid('getSelected');
			if (row) {
				$("#ID").val(row.ID);
				$('#areastcd').combogrid('setValue', row.STCD);
                $("#Pic_URL").textbox('setValue', row.Pic_URL);
                $("#Video_URL").textbox('setValue', row.Video_URL);

                $('#dlg').dialog('open').dialog('setTitle', '修改测站展示');
                url = '/StationInfo/Show/Edit?ID=' + row.ID;
                bingPicData(row.ID);
                document.getElementById("dlg-buttons").style.visibility = "";//隐藏
			}
			else {
				$.messager.alert('提示', '请先选择行', 'info')
			}

            initUploader();
            initUploader1();
		}
		function saveData() {

			var stcd = $('#areastcd').combogrid('getValue');
			var stnm = $('#areastcd').combogrid('getText');

			$("#STCD").val(stcd);
			$("#STNM").val(stnm);

			$('#fm').form('submit', {
				url: url,
				onSubmit: function () {
					return $(this).form('validate');
				},
				success: function (result) {
					var result = eval('(' + result + ')');
					if (result.errorMsg) {
						$.messager.show({
							title: '提示错误',
							msg: result.msg,
							showType: null,
							style: {
							}
						});
					} else {
						$('#dlg').dialog('close'); 	// close the dialog
						$('#dgGrid').datagrid('reload'); // reload the resourcedirc data
					}
				}
			});
		}
		function deleteData(index) {
			$('#dgGrid').datagrid('selectRow', index);
			var row = $('#dgGrid').datagrid('getSelected');
			if (row) {
				$.messager.confirm('确认', '确定要删除此记录吗?', function (r) {
                    if (r) {
                        $.post('/StationInfo/Show/delete', { ID: row.ID }, function (ren) {
                            if (ren.result == "success"){
                                deleteFilePath(row.ID);
                                $('#dgGrid').datagrid('reload'); // reload the user data
                            }
							else
								$.messager.alert('提示', ren, 'info');
						});
					}
				});
			} else {
				$.messager.alert('提示', '请先选择记录', 'info');
			}
		}


        function bingPicData(id) {
            //绑定数据
            if (!!id) {
                com.ajax({
                    url: '/StationInfo/Show/GetModelById',
                    data: { 'ID': id },
                    success: function (data) {
                        initImageList(data);	
                    }
                });
            }
        }
        /*,
        //上传文件类型
        accept: {
        title: 'Videos',
        mimeTypes: _mimeTypes,
        extensions: _extensions
        }*/
        //上传多张图片
        function initUploader() {
            if (uploader != null)
                return;
			// 初始化Web Uploader
			uploader = WebUploader.create({
				// 选完文件后，是否自动上传。
				auto: true,
				// swf文件路径
				swf: BASE_URL + '/lib/webuploader-0.1.5/Uploader.swf',
				// 文件接收服务端。
                server: BASE_URL + '/StationInfo/Show/UploadImg',
                //传参
                //formData: { type: 1 },
				// 选择文件的按钮。可选。
				// 内部根据当前运行是创建，可能是input元素，也可能是flash.
                pick: '#filePicker',
                accept: {
                    title: 'Images',
                    extensions: 'gif,jpg,jpeg,bmp,png,GIF,JPG,JPEG,BMP,PNG',
                    mimeTypes: 'image/*'
                },
				//验证文件总大小是否超出限制, 超出则不允许加入队列
				fileSizeLimit: 200 * 1024 * 1024,
				//验证单个文件大小是否超出限制, 超出则不允许加入队列。
				fileSingleSizeLimit: 50 * 1024 * 1024,
				// 是否可以重复上传
				duplicate: true
            });
            // 文件上传成功
            uploader.on('uploadSuccess', function (file, response) {                     
				if (response.state == "error") {
					alert(response.message);
                } else {
                    imgList.push(response.data);                    
                    initImageList(imgList);		
                    
				}
			});
			// 文件上传失败，显示上传出错。
			uploader.on('uploadError', function (file, error) {
				alert(error);
			});

			// 文件上传失败，显示上传出错。
			uploader.on('error', function (error) {
				alert(error);
            });
        }
        //初始化图片数据
        function initImageList(list) {
            if (list == null) {
                return;
            }
            var html = ""; 
            for (var i = 0; i < list.length; i++) {
                var item = list[i];
                var url = BASE_URL + "/" + item.file_Path;
                html += '<a href="'+url+'"  target="_blank"><img src="' + item.file_Path + '" style="width:150px;height:120px;margin-left:10px;" /></a>';
                html += '<a class="imgClose" href="javascript:void();" data-src="' + item.file_Path + '" ></a>';               
            }

            $("#img_list").html(html);
            $("#ImagesPath").val(JSON.stringify(list));
        }
        //上传宣传片视频
        function initUploader1() {
            if (uploader1 != null)
                return;
            // 初始化Web Uploader
            uploader1 = WebUploader.create({
                // 选完文件后，是否自动上传。
                auto: true,
                // swf文件路径
                swf: BASE_URL + '/lib/webuploader-0.1.5/Uploader.swf',
                // 文件接收服务端。
                server: BASE_URL + '/StationInfo/Show/UploadVideo',
                //传参
                //formData: { type: 1 },
                // 选择文件的按钮。可选。
                // 内部根据当前运行是创建，可能是input元素，也可能是flash.
                pick: '#filePicker1',
                accept: {
                    title: 'Video',
                    extensions: 'mp4,rmvb,avi,flv'
                },
                //验证文件总大小是否超出限制, 超出则不允许加入队列
                fileSizeLimit: 200 * 1024 * 1024,
                ////验证单个文件大小是否超出限制, 超出则不允许加入队列。
                fileSingleSizeLimit: 50 * 1024 * 1024,
                // 是否可以重复上传
                duplicate: true
            });
            // 文件上传成功
            uploader1.on('uploadSuccess', function (file, response) {
                if (response.state == "error") {
                    alert(response.message);
                } else {
                    var data = response.data;
                    $("#Video_URL").textbox('setValue', data.filePath);

                }
            });
            // 文件上传失败，显示上传出错。
            uploader1.on('uploadError', function (file, error) {
                alert(error);
            });

            // 文件上传失败，显示上传出错。
            uploader1.on('error', function (error) {
                alert(error);
            });
        }
		function deleteFilePath(showId) {
            var data1 = $("#ImagesPath").val();
            var data2 = $("#Video_URL").val();
            $.getJSON("/StationInfo/Show/DeleteFile?showId=" + showId + "&filePath1=" + data1 + "&filePath2=" + data2, function (data) {
				if (data.result == "error") {
					alert(data.msg);
				}
				else {
                    $("#Pic_URL").val("");
					$("#download").attr("href", "#");
				}
			});
        }
    </script>
}
<div class="div_condition" style="display:none" data-options="region:'north',split:false,title:'',border:false">
    <table style="height:100%;width:100%">
        <tr>
            <td>
                站名：<input id="stnm" name="stnm" style="width:160px" type="text" />&nbsp;&nbsp;
                <a id="btn" href="#" class="easyui-linkbutton" onclick="doSearch()" data-options="iconCls:'icon-search'">查询</a>
            </td>
            <td style="text-align:right"><a id="btn_add" href="#" class="easyui-linkbutton" onclick="addData()" data-options="iconCls:'icon-add'">添加</a></td>
        </tr>
    </table>
</div>

<div id="day" style="display:none" data-options="region:'center',split:false,title:'',border:false">
    <table id="dgGrid" style="width:100%;height:100%"></table>
</div>

<div id="dlg" class="easyui-dialog" style="width:600px;height:400px;padding:10px 20px;display:none" closed="true" buttons="#dlg-buttons">
    <form id="fm" method="post">
        <input type="hidden" name="ID" id="ID" />
        <input type="hidden" name="STCD" id="STCD" />
        <input type="hidden" name="STNM" id="STNM" />
        <div data-options="region:'center'" style="padding:10px;">
            <table cellpadding="5" style="width:100%;">
                <tr>
                    <td style="text-align:right">测站：</td>
                    <td colspan="2">

                        <input id="areastcd" class="easyui-combogrid" style="width:150px" required toolbar="#tb11" />
                        <div id="tb11">
                            <input class="easyui-searchbox" style="width:200px;" data-options="prompt:'输入站码或站名简拼',searcher:doSearchSta" />
                        </div>

                    </td>
                </tr>
                <tr>
                    <td style="text-align:right">宣传片：</td>
                    <td>
                        <input id="Video_URL" name="Video_URL" type="text" class="easyui-textbox" style="width:350px" />
                    </td>
                    <td style="text-align:left;">
                        <span id="filePicker1">上传</span>
                    </td>
                </tr>
                <tr>
                    <td style="text-align:right">
                        图片：
                    </td>
                    <td  colspan="2">
                        <input id="ImagesPath" name="ImagesPath" type="hidden" value='' />
                        <div id="filePicker">选择图片 </div>
                    </td>
                </tr>
                <tr>                   
                    <td  colspan="3">
                        <div id="img_list" style="float:left;display: inline;">

                        </div>
                    </td>
                </tr>
            </table>
        </div>
    </form>
    <div id="dlg-buttons">
        <a href="#" class="easyui-linkbutton" iconcls="icon-ok" onclick="saveData()">保存</a>
        <a href="#" class="easyui-linkbutton" iconcls="icon-cancel" onclick="javascript:$('#dlg').dialog('close')">取消</a>
    </div>
</div>
