@{
	Layout = "~/Views/Shared/_LayoutH6.cshtml";
	ViewData["Title"] = "历史同期对比分析-蒸发量";
	var smonth = System.DateTime.Now.ToString("yyyy-01");
	var emonth = System.DateTime.Now.AddMonths(-1).ToString("yyyy-MM");
	var year = System.DateTime.Now.AddYears(-1).ToString("yyyy");
}

@section CSS {
	<style>
		.panel-body {
			font-size: 14px;
		}

		.panel-title {
			font-size: 10px;
		}

		.panel-header {
			/*background-color: #DAE3E0;*/
			/*background: #DAE3E0;*/
			/*background:url("../../Content/images/panelheaderbg.png") repeat-x;*/
			filter: "";
		}

		.panel-tool {
			height: 26px;
		}

		.datagrid-row-alt {
			background: #dce8f3;
		}

		.datagrid-row-selected {
			background: #0081c2;
		}


		.datagrid-header .datagrid-cell span {
			font-size: 14px;
		}

		.datagrid-cell, .datagrid-cell-group, .datagrid-header-rownumber, .datagrid-cell-rownumber {
			font-size: 14px;
		}

		.combobox-item, .combobox-group, .combobox-stick {
			font-size: 14px;
		}

		.textbox .textbox-prompt {
			font-size: 14px;
		}

		.textbox .textbox-text {
			font-size: 14px;
		}

		.tabs-title {
			font-size: 14px;
		}
	</style>
}


<div class="div_condition" data-options="region:'north',split:false,title:'',border:false" style="height:45px">
	<table style="height:100%;">
		<tr>
			<td>测站：</td>
			<td>
				@*<input id="STCD" class="easyui-combobox" name="STCD"
		data-options="url:'/HistoryInfo/Station/GetList',
				 method:'get',
				 valueField:'STCD',
				 textField:'STNM'">*@

				<input id="areastcd" class="easyui-combogrid" style="width:150px" toolbar="#tb11" />
				<div id="tb11">
					<input class="easyui-searchbox" style="width:200px;" data-options="prompt:'输入站码或站名简拼',searcher:doSearchSta" />
				</div>
			</td>

			<td>分析时段:</td>
			<td id="td2">
				<label for="radioTen">
					<input id="radioTen" type="radio" name="searchType" value="4" />旬
				</label>
				<label for="radioMonth">
					<input id="radioMonth" type="radio" name="searchType" value="5" checked="checked" />月
				</label>
			</td>
			<td style="width:320px;">
				<div class="date-select month">
					<input type="text" id="sdate" name="sdate" class="Wdate" value="@smonth" onclick="WdatePicker({skin:'whyGreen',dateFmt:'yyyy-MM'})" />
					<select id="sten" style="display:none;padding: 3px 0px;position: relative;top: 2px;">
						<option value="10">上旬</option>
						<option value="20">中旬</option>
						<option value="01">下旬</option>
					</select>
					-
					<input type="text" id="edate" name="edate" class="Wdate" value="@emonth" onclick="WdatePicker({skin:'whyGreen',dateFmt:'yyyy-MM'})" />
					<select id="eten" style="display:none;padding: 3px 0px;position: relative;top: 2px;">
						<option value="11">上旬</option>
						<option value="21">中旬</option>
						<option value="01">下旬</option>
					</select>
				</div>
			</td>

			<td>对比年份:</td>
			<td class="date-select year">
				<input type="text" id="year" name="year" class="Wdate" value="@year" onclick="WdatePicker({skin:'whyGreen',dateFmt:'yyyy'})" />
			</td>

			<td><a id="btnSearch" href="#" class="easyui-linkbutton" data-options="iconCls:'icon-search'" onclick="doSearch()">查询</a></td>
			<td></td>
			<td><a id="btnExport" href="#" class="easyui-linkbutton" data-options="iconCls:'icon-export'">导出</a></td>


		</tr>
	</table>
</div>


<div id="gridContainer" data-options="region:'west',split:false,title:'',border:false,onCollapse:LeftCollapse,onExpand:LeftExpand" style="width:400px;">
	<table id="dgGrid" style="height:100%;width:100%;"></table>
</div>

<div id="divC" data-options="region:'center',split:false,border:false,title:''">
	<div style="width:100%;height:100%;overflow-x:hidden;" id="divChartContainer">
		<div id="divChart" style="width:100%;height:100%;">
		</div>

	</div>
</div>

@section Scripts {
	<script src="~/lib/highcharts/7.1.1/modules/drilldown.js"></script>
	<script type="text/javascript">

		var colors = ['#035294', '#0a60a8', '#0d6cba', '#1979c9', '#1783dd', '#068dec', '#2a9cf4', '#3da8fa', '#59b4fa', '#75bff8', '#9ed2fa', '#badcf7'];
		var year_fx, year_comparative;
		window.onload = function () {
			//初始化控件
			initControl();

			//加载默认数据
			doSearch();
		}
		function initControl() {

			$('input:radio[name="searchType"]').on("click", function () {
				var checkValue = $('input:radio[name="searchType"]:checked').val();

				if (checkValue === "4") { //旬
					$("#sten").show();
					$("#eten").show();
				}
				if (checkValue === "5") {//月
					$("#sten").hide();
					$("#eten").hide();
				}
			});

			bindAreaDataGrid();
		}


		function bindAreaDataGrid() {
			$('#areastcd').combogrid({
				panelWidth: 300,
				multiple: false,
				idField: 'CODE',
				textField: 'KEYNAME',
				url: "/RealData/River/GetStaByKeywords/",
				queryParams: { "sttp": "'PP','ZQ'", "q": "" },
				columns: [[
					{ field: 'CODE', width: '30%', hidden: false, title: '站点', align: 'center' },
					{ field: 'KEYNAME', width: '35%', title: '站名', align: 'center' },
					{ field: 'TYPE', width: '35%', title: '站类', align: 'center', formatter: changesttp }

				]],
				onLoadSuccess: function (dd) {
					$('#areastcd').combogrid('setValue', dd.rows[0].CODE);
					doSearch();

				}

			});
		}
		function doSearchSta(value, name) {
			var ele = $("#areastcd");
			var grid = ele.combogrid('grid');

			$.getJSON("/RealData/River/GetStaByKeywords/", { "sttp": "'PP','ZQ'", "q": value }, function (jsondata) {

				grid.datagrid("loadData", jsondata);
			});
		}

		function doSearch() {
			var stcd = $('#areastcd').combogrid('getValue');
			var sdate = $('#sdate').val();
			var edate = $('#edate').val();
			var year = $('#year').val();
			var sten = $('#sten').val();
			var eten = $('#eten').val();
			var searchType = $('input:radio[name="searchType"]:checked').val();

			year_fx = moment(sdate).format("YYYY");
			year_comparative = year;

			if (searchType === "4") { //旬

				if (moment(sdate).add(1, 'years').isBefore(edate)) {
					alert("旬查询不能超过一个年");
					return;
				}
				loadTenData(stcd, sdate, edate, sten, eten, year);
			}
			if (searchType === "5") {//月

				if (moment(sdate).add(1, 'years').isBefore(edate)) {
					alert("月查询不能超过一个年");
					return;
				}
				loadMonthData(stcd, sdate, edate, year);
			}
		}
		function loadTenData(stcd, sdate, edate, sten, eten, year) {
			com.ajax({
				type: 'get',
				url: '/HistoryInfo/Estat/GetData_MXunEV',
				data: {
					STCD: stcd,
					sdate: sdate,
					edate: edate,
					sten: sten,
					eten: eten,
					year: year
				},
				success: function (result) {
					if (!!result.state) {
						if (result.state === "error") {
							alert(result.message);
							return;
						}
					}
					//加载列表数据
					initTenTable(result);
					var subTitle = getSubTitle(result.datasrc);
					initTenChart(result.rows, subTitle);
				}
			});
		}
		function initTenChart(dataArray, subTitle) {
			var nameArray = [];
			var objdata = [];
			var objdata_comp = [];
			$.each(dataArray, function (index, item) {
				nameArray.push(item.IDTM);
				objdata.push(item.ACCP);
				objdata_comp.push(item.ACCP_Comparative);
			});

			var option = {
				credits: {
					enabled: false // 禁用版权信息
				},
				chart: {
					type: 'column'
				},
				title: {
					text: '历史同期蒸发量对比分析柱状图'
				},
				subtitle: {
					text: subTitle
				},
				xAxis: {
					categories: nameArray
				},
				yAxis: {
					min: 0,
					title: {
						text: '蒸发量(mm)',
					}
				},
				tooltip: {
					headerFormat: '<span style="font-size:10px">{point.key}</span><table>',
					pointFormat: '<tr><td style="color:{series.color};padding:0">{series.name}: </td>' +
						'<td style="padding:0"><b>{point.y:.1f} mm</b></td></tr>',
					footerFormat: '</table>',
					shared: true,
					useHTML: true
				},
				plotOptions: {
					column: {
						borderWidth: 0
					}
				},
				series: [{
					name: year_fx,
					data: objdata
				}, {
					name: year_comparative,
					data: objdata_comp
				}]
			}

			$('#divChart').highcharts(option);
		}
		function initTenTable(rowsData) {
			var grid = $('#dgGrid').datagrid({
				singleSelect: true,
				collapsible: true,
				striped: true,
				rownumbers: true,
				pagination: false,
				data: rowsData,
				//loadMsg: '数据加载中,请稍后……',
				columns: [[
					{ field: 'IDTM', title: '时间', width: '35%', align: 'center' },
					{ field: 'ACCP', title: year_fx, width: '30%', align: 'right' },
					{ field: 'ACCP_Comparative', title: year_comparative, width: '30%', align: 'right' }
				]]
			});
		}

		function loadMonthData(stcd, sdate, edate, year) {

			com.ajax({
				type: 'get',
				url: '/HistoryInfo/Estat/GetData_MMonthEV',
				data: {
					STCD: stcd,
					type: '5',
					sdate: sdate,
					edate: edate,
					year: year
				},
				success: function (result) {
					//加载列表数据
					initMonthTable(result);
					var subTitle = getSubTitle(result.datasrc);
					initMonthChart(result.rows, subTitle);
				}
			});
		}
		function initMonthChart(dataArray, subTitle) {
			var nameArray = [];
			var objdata = [];
			var objdata_comp = [];
			$.each(dataArray, function (index, item) {
				nameArray.push(moment(item.IDTM).format("M") + "月");
				objdata.push(item.ACCP);
				objdata_comp.push(item.ACCP_Comparative);
			});

			var option = {
				credits: {
					enabled: false // 禁用版权信息
				},
				chart: {
					type: 'column'
				},
				title: {
					text: '历史同期蒸发量对比分析柱状图'
				},
				subtitle: {
					text: subTitle
				},
				xAxis: {
					categories: nameArray
				},
				yAxis: {
					min: 0,
					title: {
						text: '蒸发量(mm)',
					}
				},
				tooltip: {
					headerFormat: '<span style="font-size:10px">{point.key}</span><table>',
					pointFormat: '<tr><td style="color:{series.color};padding:0">{series.name}: </td>' +
						'<td style="padding:0"><b>{point.y:.1f} mm</b></td></tr>',
					footerFormat: '</table>',
					shared: true,
					useHTML: true
				},
				plotOptions: {
					column: {
						borderWidth: 0
					}
				},
				series: [{
					name: year_fx,
					data: objdata
				}, {
					name: year_comparative,
					data: objdata_comp
				}]
			}

			$('#divChart').highcharts(option);
		}
		function initMonthTable(rowsData) {
			var grid = $('#dgGrid').datagrid({
				singleSelect: true,
				collapsible: true,
				striped: true,
				rownumbers: true,
				pagination: false,
				data: rowsData,
				//loadMsg: '数据加载中,请稍后……',
				columns: [[
					{
						field: 'IDTM', title: '月份', width: '35%', align: 'center', formatter: function (value) {
							var date = new Date(value + "-01");
							var y = date.getFullYear();
							var m = date.getMonth() + 1;
							var d = date.getDate();
							return m;
						}
					},
					{ field: 'ACCP', title: year_fx, width: '30%', align: 'right' },
					{ field: 'ACCP_Comparative', title: year_comparative, width: '30%', align: 'right' }
				]]
			});
		}

	</script>
	<script type="text/javascript">
		function getSubTitle(datasrc) {
			if (datasrc === "history") return "数据来自历史库整编数据";
			//if (datasrc === "real") return "数据来自实时库，由系统计算统计";
			return datasrc;
		}
		function LeftCollapse() {
			$("#divChartContainer").width($(document).width() - 50);
			ReflowChart();
		}
		function LeftExpand() {
			$("#divChartContainer").width($(document).width() - 450);
			ReflowChart();
		}
		function ReflowChart() {
			var HChart = $("#divChart").highcharts();
			HChart.reflow();
		}
	</script>
}

