@{
    ViewBag.Title = "Error1";
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>拒绝访问</title>
    <script type="text/javascript">

    </script>
</head>
<body>
    <div>
        拒绝访问-请间隔30分钟后再重新登录!
    </div>
</body>
</html>
