@{
    ViewBag.Title = "Error3";
    Layout = null;
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>拒绝访问</title>
    <script type="text/javascript">
        if (window.top.moveBy) {
            for (i = 1; i < 50; i++) {
                for (j = 5; j > 0; j--) {
                    window.top.moveBy(0, i);
                    window.top.moveBy(i, 0);
                    window.top.moveBy(0, -i * 2);
                    window.top.moveBy(-i * 2, 0);
                    window.top.moveBy(0, i);
                    window.top.moveBy(i, 0);
                }
            }
        }

    </script>
</head>
<body>
    <div>
        拒绝访问
    </div>
</body>
</html>
